<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

  <display-name>vinjetm</display-name>


<!-- jetm inclusions -->

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:applicationContext-web.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>performanceMonitor</servlet-name>
		<servlet-class>
			etm.contrib.integration.spring.web.SpringHttpConsoleServlet</servlet-class>
		<init-param>
			<param-name>etmMonitorName</param-name>
			<param-value>monitorOne</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	 <servlet>
	    <servlet-name>dispatcher</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:jetdemo-servlet.xml
			</param-value>
		</init-param>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
	
  <!-- Servlet for your regular spring -->
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>performanceMonitor</servlet-name>
    <url-pattern>/performance/*</url-pattern>
  </servlet-mapping>



<!-- jetm changes ends  -->

  

  
  <filter>
    <filter-name>requestPerformanceFilter</filter-name>
    <filter-class>
      etm.contrib.integration.spring.web.SpringHttpRequestPerformanceFilter
    </filter-class>
    	<init-param>
			<param-name>etmMonitorName</param-name>
			<param-value>monitorOne</param-value>
		</init-param>
  </filter>


  <!-- If you want to start monitoring at action level, add *.htm or *.action in url pattern below -->
  <filter-mapping>
    <filter-name>requestPerformanceFilter</filter-name>
    <url-pattern>*.*</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!--  end -->
 
 </web-app>
